In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np

In [2]:
df = pd.read_csv("/content/Salaries.csv")

In [3]:
df.head()

  company                  job     degree  salary_100k
0  google      sales executive  bachelors            0
1  google      sales executive    masters            0
2  google     business manager  bachelors            1
3  google     business manager    masters            1
4  google  computer programmer  bachelors            0

In [5]:
inputs = df.drop(["salary_100k"],axis = "columns")

In [6]:
target = df["salary_100k"]

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
label_company = LabelEncoder()
label_degree = LabelEncoder()
label_job = LabelEncoder()

In [11]:
inputs["company_n"] = label_company.fit_transform(inputs["company"])

In [12]:
inputs["degree_n"] = label_company.fit_transform(inputs["degree"])
inputs["job_n"] = label_company.fit_transform(inputs["job"])

In [13]:
inputs

    company                  job     degree  company_n  degree_n  job_n
0         2      sales executive  bachelors          2         0      2
1         2      sales executive    masters          2         1      2
2         2     business manager  bachelors          2         0      0
3         2     business manager    masters          2         1      0
4         2  computer programmer  bachelors          2         0      1
5         2  computer programmer    masters          2         1      1
6         0      sales executive    masters          0         1      2
7         0  computer programmer  bachelors          0         0      1
8         0     business manager  bachelors          0         0      0
9         0     business manager    masters          0         1      0
10        1      sales executive  bachelors          1         0      2
11        1      sales executive    masters          1         1      2
12        1     business manager  bachelors          1         0      0
13        1     business manager    masters          1         1      0
14        1  computer programmer  bachelors          1         0      1
15        1  computer programmer    masters          1         1      1

abc pharma - 0
facebook - 1
google - 2

bachelors - 0 
masters - 1

business manager - 0
computer programmer - 1
sales executive - 2

In [15]:
inputs_n = inputs.drop(['company','job','degree'],axis = 1)

In [16]:
inputs_n

    company_n  degree_n  job_n
0           2         0      2
1           2         1      2
2           2         0      0
3           2         1      0
4           2         0      1
5           2         1      1
6           0         1      2
7           0         0      1
8           0         0      0
9           0         1      0
10          1         0      2
11          1         1      2
12          1         0      0
13          1         1      0
14          1         0      1
15          1         1      1

In [17]:
from sklearn import tree

In [20]:
model = tree.DecisionTreeClassifier()

In [21]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [22]:
model.score(inputs_n,target)

1.0

In [41]:
prediction = model.predict([[0,0,0]])
print(prediction)

[0]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [42]:
if (prediction == 1):
    print("Salary more than 100k")
else:
    print("Salary less than 100k")

Salary less than 100k

In [ ]:
from google.colab import drive
drive.mount('/content/drive')